# Generate this client's WalT VPN key.  While this service is running,
# one should interactively accept the connexion by issuing `walt vpn
# monitor`.  This is done once, then the key is saved locally and no
# more interaction is needed.  See `walt help vpn` for more
# information.

[Unit]
Description=Walt VPN Credentials Generation
After=network-online.target
ConditionPathExists=!/etc/walt/id_ecdsa_walt_vpn

[Service]
Type=oneshot
RemainAfterExit=yes
# FIXME: where to locate configuration file?
EnvironmentFile=/etc/walt/vpn-client.conf
# FIXME: requires / rw, but is mounted ro
# TODO: key is created in /root/.ssh.  Move it to /etc/walt/ (or choose correct path)
ExecStart=walt-vpn-setup-credentials "$WALT_VPN_ENTRYPOINT"
