[Unit]
Description=WalT platform network management
# Minimal requirements on the network
After=network.target

[Service]
Type=oneshot
StateDirectory=walt
ExecStart=walt-net-config up
ExecStop=walt-net-config down
RemainAfterExit=yes

[Install]
WantedBy=network.target
