# walt-vpn-server - WalT network VPN server
#
# This daemon allows distant walt nodes to connect to walt-net.
#
# It will be activated on first connexion to /run/walt-vpn.sock
# (see file walt-server-vpn.socket)

[Unit]
Description=WalT network VPN server

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=walt-server-vpn
Restart=on-failure
