include walt/server/mount/walt-*
include walt/server/processes/main/network/walt-*.kpxe
include walt/server/processes/main/network/tftp-static.tar.gz
include walt/server/vpn/vpn-ssh-ep-setup.sh
include walt/server/setup/*.service
include walt/server/setup/*.socket
include walt/server/setup/conmon.gz
include walt/server/snmp/mibs/*.mib
