include walt/server/processes/main/images/walt-*
include walt/server/processes/main/network/walt-*.kpxe
include walt/server/processes/main/network/tftp-standby.tar.gz
include walt/server/processes/main/vpn-proxy-setup.sh
include walt/server/setup/*.service
include walt/server/setup/*.socket
include walt/server/setup/conmon.gz
include walt/server/processes/blocking/snmp/mibs/*.mib
